USE [master]
GO
/****** Object:  Database [Inai]    Script Date: 20/05/2021 06:32:11 a. m. ******/
CREATE DATABASE [Inai]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Inai', FILENAME = N'D:\Apps\sql\MSSQL15.SQLEXPRESS\MSSQL\DATA\Inai.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Inai_log', FILENAME = N'D:\Apps\sql\MSSQL15.SQLEXPRESS\MSSQL\DATA\Inai_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Inai].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Inai]
GO
/****** Object:  Table [dbo].[Candidatos]    Script Date: 20/05/2021 06:32:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidatos](
	[IdCandidato] [int] IDENTITY(1,1) NOT NULL,
	[NombreCandidato] [nchar](50) NULL,
	[Edad] [int] NULL,
	[PuestoActual] [varchar](50) NULL,
	[PAnterio] [varchar](50) NULL,
	[PA2] [varchar](50) NULL,
	[PA3] [varchar](50) NULL,
	[PA4] [varchar](50) NULL,
	[PA5] [varchar](50) NULL,
	[IdPartido] [int] NULL,
	[Imagen] [image] NULL,
	[IdStados] [int] NULL,
 CONSTRAINT [PK_Candidatos] PRIMARY KEY CLUSTERED 
(
	[IdCandidato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estados]    Script Date: 20/05/2021 06:32:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[IdEstados] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstado] [nchar](32) NOT NULL,
 CONSTRAINT [PK_Estados] PRIMARY KEY CLUSTERED 
(
	[IdEstados] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partidos]    Script Date: 20/05/2021 06:32:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partidos](
	[IdPartidos] [int] IDENTITY(1,1) NOT NULL,
	[NombrePartido] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Partidos] PRIMARY KEY CLUSTERED 
(
	[IdPartidos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Candidatos]  WITH CHECK ADD  CONSTRAINT [FK_Candidatos_Estados] FOREIGN KEY([IdStados])
REFERENCES [dbo].[Estados] ([IdEstados])
GO
ALTER TABLE [dbo].[Candidatos] CHECK CONSTRAINT [FK_Candidatos_Estados]
GO
ALTER TABLE [dbo].[Candidatos]  WITH CHECK ADD  CONSTRAINT [FK_Candidatos_Partidos] FOREIGN KEY([IdPartido])
REFERENCES [dbo].[Partidos] ([IdPartidos])
GO
ALTER TABLE [dbo].[Candidatos] CHECK CONSTRAINT [FK_Candidatos_Partidos]
GO
USE [master]
GO
